body {
    background: linear-gradient(90deg, #edf5e1, #379683);
    margin: 0px 0px 0px 0px;
}

header {
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
    margin-top: -22px;
    background: linear-gradient(90deg, #edf5e1, #379683);
}

nav {
    text-align: center;
    line-height: 40px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px 0 15px;
}

#landing{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9c/MtHoodFromOHSU.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 90px;
}

#background-content, #family-content {
    display: flex;
    justify-content: center;
    height: auto;
}

#pittsburgh, #swimming, #school {
    margin: 15px 100px 15px 100px;
}

img {
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

