


h1{
    color: #999999;
    font-size: 5em;
    margin: 0px 0px 36px 0px;
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
}

#container{
    margin: auto;
    max-width: 824px;
    margin-top: 25px
}

#unit-kitten-content{
    display: inline-block;
    vertical-align: top;
    width: 408px;
}

#pictures-of-cats{
    float: right;
    display: block;
    width: 408px;
    margin: 0px 0px 8px 8xp;
}

p.links{
    background-color: #444;
    color: white;
    font-weight: bold;
    width: 376px;
    height: 45px;
    margin: 8px 0px 8px 0px;
    padding: 8px 16px 8px 16px;
}

a{
    color: #c9e2b1;
    font-family: monospace, sans-serif;
    font-weight: bold;
}

img{
    vertical-align: bottom;
}

img#image-1 {
    float: left;
    margin: 0px 8px 8px 0;
}

img#image-2 {
    float: left;
    margin: 0px 0px 8px 0px;
}

img#image-3 {
    float:left;
    margin: 0px 0px 8px 0px;
}

img#image-4, img#image-5 {
    margin: 0px 0px 8px 8px;
}

img#image-6, img#image-7 {
    margin: 0px 0px 8px 0px;
}

img#image-4, img#image-5, img#image-6, img#image-7{
    float: right;
}

p {
width: 408px;
font-size: 12px;
line-height: 1.5;
margin: 8px 0px 8px 0px;
}

footer {
    display: block;
}



